<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-auto bg-light">
      <h4><%= @customer.name %>さんの会員情報編集</h4>
    </div>
  </div>
  <div class="row my-4">
    <%= form_with model: @customer, url: admin_customers_path, method: :patch do |f| %>
      <h6 class="item_name">会員ID</h6>
      <%= @customer.id %>
      <h6 class="item_name">氏名</h6>
      <%= f.text_field :name, class: "form-control" %>
      <h6 class="item_name">フリガナ</h6>
      <%= f.text_field :last_name_kana, class: "form-control" %>　<%= f.text_field :first_name_kana, class: "form-control" %>
      <h6 class="item_name">郵便番号</h6>
      <%= f.text_field :postal_code, class: "form-control" %>
      <h6 class="item_name">住所</h6>
      <%= f.text_field :aderess, class: "form-control" %>
      <h6 class="item_name">電話番号</h6>
      <%= f.text_field :telephone_number, class: "form-control" %>
      <h6 class="item_name">メールアドレス</h6>
      <%= f.text_field :email, class: "form-control" %>
      <h6 class="item_name">会員ステータス</h6>
      <%= f.label :is_active_true, '有効' %>
      <%= f.radio_button :is_active, :true %>
      <%= f.label :is_active_false, '退会' %>
      <%= f.radio_button :is_active, :_false %>
      <%= f.submit '変更を保存', class: "btn btn-success" %>
    <% end %>
  </div>
</div>
